.venv/
__pycache__/
.pytest_cache/
.idea/

*.py[cod]
*.db
*.log

.env
uploads/
exports/
test_uploads/
test_exports/
acceptance_check_exports/
postman_check_exports/

acceptance-download.docx
postman_newman_result.json
